<div id="modal-price" class="modal fade" role="dialog">
    <div class="modal-dialog call_modal">
        <div class="modal-content">
            <form id="form-price">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Получить прайс-лист</h4>
                    <p class="after-modal-title">Оставьте свой e-mail и мы отправим вам прайс-лист в ближайшее время</p>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Введите e-mail" required>
                    </div>
                    <input type="hidden" name="formData" value="Запрос на получение прайс-листа">
                    <button type="submit" class="btn main-btn form-btn">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>