<section id="plans">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>Дополнительные услуги</h2>
            </div>
            <div class="col-md-12 mb30" style="background-size: cover;">
                <div class="box-highlight" style="background-size: cover;">
                    <div class="heading text-left text-white" style="background-size: cover;"><h3>Услуги доступные нашим клиентам</h3></div>
                    <div class="content" style="background-size: cover;">
                        <div class="accordion" style="background-size: cover;">
                            <div class="accordion-section" style="background-size: cover;">
                                <div class="accordion-section-title" data-tab="#accordion-1" style="background-size: cover;">
                                    Выделенная мощность
                                </div>
                                <div class="accordion-section-content" id="accordion-1" style="background-size: cover;">
                                    <p>Дополнительный 1 киловатт электричества <span class="pricelist-line"><span class="pricelist-line-style-dotted"></span></span></p>
                                </div>
                                <div class="accordion-section-title" data-tab="#accordion-2" style="background-size: cover;">
                                    PDU
                                </div>
                                <div class="accordion-section-content" id="accordion-2" style="background-size: cover;">
                                    <p>Дополнительный блок распределения питания 8/12/24 розетки</p>
                                </div>
                                <div class="accordion-section-title" data-tab="#accordion-3" style="background-size: cover;">
                                    Инсталяционные работы
                                </div>
                                <div class="accordion-section-content" id="accordion-3" style="background-size: cover;">
                                    <p>установка оборудования силами наших специалистов</p>
                                </div>
                                <div class="accordion-section-title" data-tab="#accordion-4" style="background-size: cover;">
                                    Замена комплектующих в оборудовании
                                </div>
                                <div class="accordion-section-content" id="accordion-4" style="background-size: cover;">
                                    <p>Замена одного компонента оборудования с демонтажем и вскрытием. Заменить компонент можно только в оборудовании, которое прошло оценку техническими специалистами. Услуга также включает в себя изменение внутренней конфигурации оборудования и сбор данных о компонентах системы. Процессоры и материнские платы в рамках этой услуги замене не подлежат.</p>
                                </div>
                                <div class="accordion-section-title" data-tab="#accordion-5" style="background-size: cover;">
                                    Хранение оборудования
                                </div>
                                <div class="accordion-section-content" id="accordion-5" style="background-size: cover;">
                                    <p>Хранение Вашего ЗИП в складском помещении</p>
                                </div>
                                <div class="accordion-section-title" data-tab="#accordion-6" style="background-size: cover;">
                                    Удаленные руки
                                </div>
                                <div class="accordion-section-content" id="accordion-6" style="background-size: cover;">
                                    <p>Перезагрузка оборудования, "Установка и переустановка ОС и других ПО</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>