<section class="no-bg no-top mt">
    <div class="container " style="background-size: cover;">
        <div class="row " style="background-size: cover;">
            <div class="col-md-6 offset-md-3 text-center " style="background-size: cover;">
                </br></br>
                <h4 class="id-color">Основные услуги</h4>
                <h2>Ознакомьтесь с услугами ЦОД К12</h2>
                <p>Организация линий, КПД, завод ВОЛС в Дата-центр</p>
                <div class="spacer-20" style="background-size: cover;"></div>
            </div>
            <div class="col-md-6 col-sm-6 feature-box mb40"style="background-size: cover;background-color: #f8f8f8;
    padding-top: 20px;
    border: solid #fff;
    padding-bottom: 20px;">
                <div class="box-icon-simple left" style="background-size: cover; ">
                    <span class="num">1</span>
                    <div class="text" style="background-size: cover;">
                        <h3>Аренда стоек</h3>
                        Серверные стойки 42U
                    </div>
                    </br><a class="btn-custom" style="
    margin-left: 70%;
" href="RentOfServerRacks.html">Подробнее</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 feature-box mb40" style="background-size: cover; background-color: #f8f8f8;
    padding-top: 20px;
    border: solid #fff;
    padding-bottom: 20px;">
                <div class="box-icon-simple left" style="background-size: cover;">
                    <span class="num">2</span>
                    <div class="text" style="background-size: cover;">
                        <h3>Обслуживание</h3>
                        Удаленное обслуживание и сервис
                    </div>
                    </br>
                    <a class="btn-custom" style="
    margin-left: 70%;
" href="obslujivanie.html">Подробнее</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 feature-box mb40" style="background-size: cover; background-color: #f8f8f8;
    padding-top: 20px;
    border: solid #fff;
    padding-bottom: 20px;">
                <div class="box-icon-simple left" style="background-size: cover;">
                    <span class="num">3</span>
                    <div class="text" style="background-size: cover;">
                        <h3>Доступ к интернету</h3>
                        Предоставление гибких возможностей подключения к сети
                    </div>
                    </br>
                    <a class="btn-custom" style="
    margin-left: 70%;
" href="dostinternet.html">Подробнее</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 feature-box mb40" style="background-size: cover; background-color: #f8f8f8;
    padding-top: 20px;
    border: solid #fff;
    padding-bottom: 20px;">
                <div class="box-icon-simple left" style="background-size: cover;">
                    <span class="num">4</span>
                    <div class="text" style="background-size: cover;">
                        <h3>Кроссировки</h3>
                        Организация физического подключения между оборудованием
                    </div>
                    </br>
                    <a class="btn-custom" style="
    margin-left: 70%;
" href="Crossing.html">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</section>