<section id="plans">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>Тарифы на размещение сервера</h2>
            </div>
        </div>
        <div class="item pricing">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="pricing-s1 mb30">
                            <div class="top">
                                <h2>Сервер 1 Unit</h2>
                                <p class="price">
                                    <span class="txt">От</span>
                                    <span class="currency">₽</span>
                                    <span class="m opt-1">3000</span> {# Без ндс #}
                                    <span class="y opt-2">3400</span> {# C ндс #}
                                    <span class="month">в/месяц</span>
                                </p>
                            </div>
                            <div class="bottom">
                                <ul>
                                    <li><i class="fa fa-check-square"></i>Выделенная мощность 250 Вт</li>
                                    <li><i class="fa fa-check-square"></i>Мультисервисный порт</li>
                                    <li><i class="fa fa-check-square"></i>PDU панели с разъемами C13 и C19</li>
                                    <li><i class="fa fa-check-square"></i>Круглосуточная тех. поддержка</li>
                                    <li><i class="fa fa-check-square"></i>Интернет 100 Мбит/с</li>
                                    <li><i class="fa fa-check-square"></i>1 адрес IPv4</li>
                                </ul>
                            </div>
                            <div class="action">
                                <a type="button" class="btn-custom" data-bs-toggle="modal" data-bs-target="#modalCall"
                       id="modal-button">
                        Получить предложение
                    </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="pricing-s1 mb30">
                            <div class="top">
                                <h2>Сервер 2 Unit</h2>
                                <p class="price">
                                    <span class="txt">От</span>
                                    <span class="currency">₽</span>
                                    <span class="m opt-1">5000</span> {# Без ндс #}
                                    <span class="y opt-2">5500</span> {# C ндс #}
                                    <span class="month">в/месяц</span>
                                </p>
                            </div>
                            <div class="bottom">
                                <ul>
                                    <li><i class="fa fa-check-square"></i>Выделенная мощность 350 Вт</li>
                                    <li><i class="fa fa-check-square"></i>Мультисервисный порт</li>
                                    <li><i class="fa fa-check-square"></i>Резервирование PDU 2n</li>
                                    <li><i class="fa fa-check-square"></i>Круглосуточная тех. поддержка</li>
                                    <li><i class="fa fa-check-square"></i>Интернет 100 Мбит/с</li>
                                    <li><i class="fa fa-check-square"></i>1 адрес IPv4</li>
                                </ul>
                            </div>
                            <div class="action">
                                <a type="button" class="btn-custom" data-bs-toggle="modal" data-bs-target="#modalCall"
                       id="modal-button">
                        Получить предложение
                    </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="pricing-s1 mb30">
                            <div class="top">
                                <h2>Сервер "tower"</h2>
                                <p class="price">
                                    <span class="txt">От</span>
                                    <span class="currency">₽</span>
                                    <span class="m opt-1">4000</span> {# Без ндс #}
                                    <span class="y opt-2">4500</span> {# C ндс #}
                                    <span class="month">в/месяц</span>
                                </p>
                            </div>
                            <div class="bottom">
                                <ul>
                                    <li><i class="fa fa-check-square"></i>Выделенная мощность 250 Вт</li>
                                    <li><i class="fa fa-check-square"></i>Мультисервисный порт</li>
                                    <li><i class="fa fa-check-square"></i>Резервирование PDU n+1</li>
                                    <li><i class="fa fa-check-square"></i>Круглосуточная тех. поддержка</li>
                                    <li><i class="fa fa-check-square"></i>Интернет 100 Мбит/с</li>
                                    <li><i class="fa fa-check-square"></i>1 адрес IPv4</li>
                                </ul>
                            </div>
                            <div class="action">
                                <a type="button" class="btn-custom" data-bs-toggle="modal" data-bs-target="#modalCall"
                       id="modal-button">
                        Получить предложение
                    </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="switch-set text-center wow fadeInUp" data-wow-delay=".2s">
                <div>Без НДС</div>
                <div>
                    <input id="sw-1" class="switch" type="checkbox"/>
                </div>
                <div>С НДС</div>
                <div class="spacer-20"></div>
            </div>
        </div>
    </div>
</section>