<section id="section-features" class="bg-gradient-to-right">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center text-light">
                <h2>Вместе с услугой</h2>
                <div class="spacer-20"></div>
            </div>
            <div class="col-lg-6 col-md-6 mb30">
                <div class="feature-box-type-1">
                    <i class="icon-profile-male"></i>
                    <div class="text">
                        <h3 class="">Гибкость</h3>Дата-центр находится в 10 минутах ходьбы от метро Лесная. Удобная парковка для автомобилей перед входом в ЦОД. Комфортные условия работы, выделенное место для работы с сервером. Круглосуточный доступ в дата-центр и помощь сотрудников технической поддержки в режиме 24/7
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb30">
                <div class="feature-box-type-1">
                    <i class="icon-refresh"></i>
                    <div class="text">
                        <h3>Комфорт</h3>Доступ в дата-центр осуществляется круглосуточно. Удобная парковка на территории ЦОД. Близость к метро Лесная, пешком 10 минут. Для работы с оборудованием организовано специальное рабочее место. Есть гостевой Wi-Fi и ячейки для хранения ЗИП.
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb30">
                <div class="feature-box-type-1">
                    <i class="icon-tools-2"></i>
                    <div class="text">
                        <h3>Надежная инфраструктура</h3>Бесперебойность электропитания дата-центра осуществляется за счет наличия двух независимых вводов и резервирования от дизель-генератора. Система охлаждения реализована с изоляцией холодных коридоров, резервирование кондиционеров по схеме</br>N+2.
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb30">
                <div class="feature-box-type-1">
                    <i class="icon-shield"></i>
                    <div class="text">
                        <h3>Безопасность</h3>Все шкафы имеют замки и закрываются на ключ, все помещения находятся под видеонаблюдением, проход в ЦОД осуществляется строго по спискам доступа, все помещения оснащены системой контроля доступа. В серверных залах установлена система автоматического газового пожаротушения.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>