:root {
  --primary-color-2: #ba0589;
  --primary-color-1: #375aa4;
  --primary-color-2-rgb: 186,5,137;
  --primary-color-1-rgb: 55,90,164;
  --secondary-color-1: #65BC7B;
  --secondary-color-2: #54d575;
  
  --dark-mode-color-1: #171635;
  --dark-mode-color-2: #1d1c3d;
  --dark-mode-color-3: #100f28;
  
}