{% load static %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4 col-xs-4">
                        <div class="widget">
                            <h5>Colocation</h5>
                            <div class="tiny-border"></div>
                            <ul>
                                <li><a href="razm-serv.html">Аренда стоек</a></li>
                                <li><a href="hosting-vps.html">Аренда юнитов</a></li>
                                <li><a href="mesto-pod-col.html">Место под стойку</a></li>
                                <li><a href="kross.html">Кроссировки</a></li>
                                <li><a href="obslujivanie.html">Обслуживание</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="widget">
                            <h5>Услуги связи</h5>
                            <div class="tiny-border"></div>
                            <ul>
                                <li><a href="kross.html">Кроссировки</a></li>
                                <li><a href="dostinternet.html">Доступ к интернету</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget">
                    <a href="index.html"><img alt="" class="logo" src="{% static 'images/logo-light.png' %}"></a>
                    <div class="spacer-20"></div>
                    <p>Менеджеры компании с радостью ответят на ваши вопросы и произведут расчет стоимости услуг и
                        подготовят индивидуальное коммерческое предложение.</p>
                    <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCall"
                       id="modal-button">
                        Связаться
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 sm-text-center mb-sm-30">
                <div class="mt10">&copy; Все права защищены 2022</div>
            </div>
            <div class="col-md-6 text-md-right text-sm-left">
                <div class="mt11"><p>Информация представленая на сайте не является офертой.</p></div>
            </div>
        </div>
    </div>
</footer>

