{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Дата-центр К12</title>{% endblock %}
{% block description %}<meta content="Дата-Центр К12 работает на рынке больше 10 лет. Оказываем услуги по размещению серверного и сетевого оборудования, имеем уровень надежности TIER III, Доступ 24/7, круглосуточная техподержка и множество довольных клиентов." name="description">{% endblock %}
{% block content %}
    <div id="wrapper">
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>
            <section aria-label="section-slider" class="fullwidthbanner-container" id="section-slider">
                <div id="revolution-slider">
                    <ul>
                        <li data-masterspeed="1500" data-slotamount="10" data-transition="fade">
                            <!--  BACKGROUND IMAGE -->
                            <img alt="" class="rev-slidebg" data-bgparallax="15" data-bgposition="center center" data-duration="20000" data-ease="Power1.easeOut" data-kenburns="off" data-lazyload="static/images/slider/background.jpg" data-no-retina="" data-offsetend="0 0" data-offsetstart="0 0" data-rotateend="0" data-rotatestart="0" data-scaleend="100" data-scalestart="110" src="{% static 'images/slider/background.jpg'%}">
                            <div class="tp-caption custom-font-1" data-height="none" data-responsive_offset="on" data-splitin="none" data-splitout="none" data-start="1000" data-transform_in="y:-100px;opacity:0;s:800;e:Power2.easeOut;" data-transform_out="opacity:0;y:-20;s:500;e:Power2.easeInOut;" data-whitespace="nowrap" data-width="none" data-x="20" data-y="230">
                                Разместите свое серверное</br> оборудование в надежном дата-центре уровня </br>
                            </div>
                            <div class="tp-caption custom-font-2" data-height="none" data-responsive_offset="on" data-splitin="none" data-splitout="none" data-start="700" data-transform_in="y:-100px;opacity:0;s:800;e:Power2.easeOut;" data-transform_out="opacity:0;y:-20;s:700;e:Power2.easeInOut;" data-whitespace="nowrap" data-width="none" data-x="20" data-y="center">
                                </br>TIER III
                            </div>
                            <div class="tp-caption tp-text text-left" data-height="none" data-responsive_offset="on" data-splitin="none" data-splitout="none" data-start="1300" data-transform_in="y:100px;opacity:0;s:800;e:Power2.easeOut;" data-transform_out="opacity:0;y:30;s:700;e:Power2.easeInOut;" data-whitespace="nowrap" data-width="none" data-x="20" data-y="350">
                                <a class="btn-slider" href="#modal-call" data-toggle="modal" class="open-order btn main-btn">Подробнее</a>
                            </div>
                        </li>
                        <li data-masterspeed="1500" data-slotamount="10" data-transition="fade">
                            <!--  BACKGROUND IMAGE -->
                            <img alt="" class="rev-slidebg" data-bgparallax="15" data-bgposition="center center" data-duration="20000" data-ease="Power1.easeOut" data-kenburns="off" data-lazyload="{% static 'images/slider/WM2A3464.jpg'%}" data-no-retina="" data-offsetend="0 0" data-offsetstart="0 0" data-rotateend="0" data-rotatestart="0" data-scaleend="100" data-scalestart="110" src="{% static 'images/slider/WM2A3464.jpg'%}">
                            <div class="tp-caption custom-font-1" data-height="none" data-responsive_offset="on" data-splitin="none" data-splitout="none" data-start="1000" data-transform_in="y:-100px;opacity:0;s:800;e:Power2.easeOut;" data-transform_out="opacity:0;y:-20;s:500;e:Power2.easeInOut;" data-whitespace="nowrap" data-width="none" data-x="20" data-y="230">
                                Разместите свое серверное</br> оборудование в надежном дата-центре уровня </br>
                            </div>
                            <div class="tp-caption custom-font-2" data-height="none" data-responsive_offset="on" data-splitin="none" data-splitout="none" data-start="700" data-transform_in="y:-100px;opacity:0;s:800;e:Power2.easeOut;" data-transform_out="opacity:0;y:-20;s:700;e:Power2.easeInOut;" data-whitespace="nowrap" data-width="none" data-x="20" data-y="center">
                                </br>TIER III
                            </div>
                            <div class="tp-caption tp-text text-left" data-height="none" data-responsive_offset="on" data-splitin="none" data-splitout="none" data-start="1300" data-transform_in="y:100px;opacity:0;s:800;e:Power2.easeOut;" data-transform_out="opacity:0;y:30;s:700;e:Power2.easeInOut;" data-whitespace="nowrap" data-width="none" data-x="20" data-y="350">
                                <a class="btn-slider" href="about.html" target="_blank">Подробнее</a>
                            </div>
                            <div class="tp-caption tp-text text-left" data-height="none" data-responsive_offset="on" data-splitin="none" data-splitout="none" data-start="1500" data-transform_in="y:0;s:0;opacity:0;s:800;e:Power2.easeOut;" data-transform_out="opacity:0;y:30;s:700;e:Power2.easeInOut;" data-whitespace="nowrap" data-width="none" data-x="600" data-y="center">
                                <img src="{% static 'images/slider/half-circle.png'%}" alt="">
                            </div>
                            <div class="tp-caption tp-text text-left" data-height="none" data-responsive_offset="on" data-splitin="none" data-splitout="none" data-start="1600" data-transform_in="y:0;rZ:-180;opacity:0;0:100;s:3200;e:Power2.easeOut;" data-transform_out="opacity:0;y:30;s:700;e:Power2.easeInOut;" data-whitespace="nowrap" data-width="none" data-x="580" data-y="373">
                                <img src="{% static 'images/slider/line.png'%}" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section id="section-highlight" class="relative pos-top no-top mt-60 no-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mb-sm-30">
                            <div class="feature-box-type-1">
                                <i class="icon-ribbon"></i>
                                <div class="text">
                                    <h3>2N+1 Резервирование</h3>Бесперебойность работы ЦОДа обеспечивается двумя независимыми городскими вводами и резервными дизель-генераторами.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-sm-30">
                            <div class="feature-box-type-1">
                                <i class="icon-speedometer"></i>
                                <div class="text">
                                    <h3 class="">100+ Операторов</h3>Более 300-т клиентов выбрали Дата-центр К12 из которых 100 — крупнейшие операторы связи по Северо-Западу и </br>IX-группы.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-sm-30">
                            <div class="feature-box-type-1">
                                <i class="icon-alarmclock"></i>
                                <div class="text">
                                    <h3>24/7 Техническая Поддержка</h3>Сотрудники компании эффективно взаимодействуют с клиентами, оперативно решают возникающие проблемы и дают консультации.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
			<section style="background-size: cover; padding-top: 0px;">
                <div class="container" style="background-size: cover;">
                    <div class="row" style="background-size: cover;">
                        <div class="col text-center" style="background-size: cover;">
                            <h2>Презентация Дата-центра К12<br></h2>
                        </div>
                        <div class="col-md-12 mb30" style="background-size: cover;">
                            <div class="col text-center" style="display: flex; justify-content: center; align-items: center; background-size: cover;">
                                <div class="content" style="background-size: cover;">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/GOtkiCim7vY?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {% include 'includes/info/Excursion.html' %}
            <section id="pricing-table" class="pb40">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 wow fadeInUp">
                            <div class="text-center">
                                <h2><span class="uptitle id-color">Наши</span>Услуги</h2>
                                <div class="spacer-20"></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                            <div class="pricing-s2 mb30">
                                <div class="top">
                                    <img src="{% static 'images/icon-shared-hosting.png'%}" class="size96" alt="">
                                    <div class="inner">
                                        <div class="clearfix"></div>
                                        <h2>Вычислительные ресурсы</h2>
                                        <p>Виртуальные машины, сервера, СХД, а также выделенное оборудование</p>
                                        <p class="price"><span class="txt">От</span><span class="currency">₽</span>
                                            <span class="num opt-1">1500</span>
                                            <span class="num opt-2">1300</span>
                                            <span class="month">в/месяц</span></p>
                                        <a type="button" class="btn-custom" data-bs-toggle="modal" data-bs-target="#modalCall"  class="open-order btn main-btn" id="modal-button">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                            <div class="pricing-s2 bg rec mb30 text-light" data-bgimage="url(static/images/misc/bg-small-1.jpg)" style="background url('images/misc/bg-small-1.jpg') 0% 0% / cover;">
                                <div class="inner">
                                    <div class="top">
                                        <img src="{% static 'images/icon-w-vps-hosting.png'%}" class="size96" alt="">
                                        <div class="clearfix"></div>
                                        <h2>Аренда стоек и юнитов</h2>
                                        <p>Colocation В нашем дата-центре доступна аренда серверных стоек целиком или только ½ серверной стойки.</p>
                                        <p class="price"><span class="txt">От</span><span class="currency">₽</span>
                                            <span class="num opt-1">18000</span>
                                            <span class="num opt-2">14000</span>
                                            <span class="month">в/месяц</span></p>
                                        <a href="/server_placement/" class="btn-custom">Подробнее</a>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                            <div class="pricing-s2 mb30">
                                <div class="inner">
                                    <div class="top">
                                        <img src="{% static 'images/icon-cloud-hosting.png'%}" class="size96" alt="">
                                        <div class="clearfix"></div>
                                        <h2>Услуги связи</h2>
                                        <p>Услуги по организации ВОЛС, IX, и.п.</p>
                                        <p class="price"><span class="txt">От</span><span class="currency">₽</span>
                                            <span class="num opt-1">1000</span>
                                            <span class="num opt-2">800</span>
                                            <span class="month">в/месяц</span></p>
                                        <a href="/crossing/" class="btn-custom mb10">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="switch-set text-center wow fadeInUp" data-wow-delay=".2s">
                                <div>С НДС</div>
                                <div>
                                    <input id="sw-1" class="switch" type="checkbox" />
                                </div>
                                <div>Без НДС</div>
                                <div class="spacer-20"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="section-banner" class="no-bottom no-top img-fluid bg-gradient-to-right text-light relative pos-top">
                <div class="container">
                   <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
							<div class="p-sm-30 pb-sm-0 mb-sm-0">
								<h2>Закажите звонок</h2>
							</div>
                        </div>
                        <div class="col-lg-6 col-md-6">
							<div class="p-sm-30">
                            <p class="lead"></br>Мы ответим на все интересующие вас вопросы и составим коммерческое предложение.</p>
                            <div class="spacer-half"></div>
                            <a type="button" class="btn-custom" data-bs-toggle="modal" data-bs-target="#modalCall"  class="open-order btn main-btn" id="modal-button"  class="open-order btn main-btn">Заказать звонок</a></br></br></br>
                            </div>
                        </div>
                   </div>
                </div>
            </section>
            <section id="section-features">
                <div class="container">
                    <div class="row">
                        <div class="col-md text-center wow fadeInUp">
                            <h2>Преимущества<span class="uptitle id-color">работы с нами</span></h2>
                            <div class="spacer-20"></div>
                        </div>
                    </div>
                    <div class="row wow fadeInUp">
                        <div class="col-md col-sm-6 mb-sm-30">
                            <div class="feature-box-type-2">
                                <i class="icon-alarmclock"></i>
                                <h4>Быстрое реагирование</h4>
                            </div>
                        </div>
                        <div class="col-md col-sm-6 mb-sm-30">
                            <div class="feature-box-type-2">
                                <i class="icon-profile-male"></i>
                                <h4>24 / 7 Поддержка</h4>
                            </div>
                        </div>
                        <div class="col-md col-sm-6 mb-sm-30">
                            <div class="feature-box-type-2">
                                <i class="icon-refresh"></i>
                                <h4>99.8% Uptime уровень TIER 3</h4>
                            </div>
                        </div>
                        <div class="col-md col-sm-6 mb-sm-30">
                            <div class="feature-box-type-2">
                                <i class="icon-upload"></i>
                                <h4>Точка обмена трафиком</h4>
                            </div>
                        </div>
                        <div class="col-md col-sm-6 mb-sm-30">
                            <div class="feature-box-type-2">
                                <i class="icon-layers"></i>
                                <h4>Постоянный рост</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="section-fun-facts" class="pt60 pb60 text-light bg-gradient-to-right">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="de_count">
                                <h3 class="timer" data-to="60" data-speed="3000">0</h3>
                                <span>Операторов связи</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="de_count">
                                <h3 class="timer" data-to="317" data-speed="3000">0</h3>
                                <span>Всего клиентов</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6" data-wow-delay=".5s">
                            <div class="de_count">
                                <h3 class="timer" data-to="3" data-speed="3000">0</h3>
                                <span>Независимых ввода</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="de_count">
                                <h3 class="timer" data-to="14" data-speed="3000">0</h3>
                                <span>лет на рынке ЦОД</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="section-news">
                <div class="container">
                    <div class="row wow fadeInUp">
                        <div class="col text-center">
                            <h2><span class="uptitle id-color">наши</span>Публикации</h2>
                            <div class="spacer-20"></div>
                        </div>
                    </div>
                    <div class="row wow fadeInUp">
                        <div class="col-md-12">
                            <div class="owl-carousel owl-theme" id="blog-carousel">
                                <div class="bloglist item">
                                    <div class="post-content">
                                        <div class="post-image">
                                            <img alt="" src="//img.youtube.com/vi/gi-xtZz9AGM/0.jpg">
                                            <div class="post-info">

                                            </div>
                                        </div>
                                        <div class="post-text">
                                            <h3><a href="https://youtu.be/gi-xtZz9AGM" target="_blank">Классификация уровней надежности ЦОД</a></h3>
                                            <p>Как определить уровень защиты данных? Рассмотрим классификацию уровней надежности ЦОД (Уровни Tier I, II, III, IV). Какой уровень присвоен К12, - узнаете из этого видео.</p>
                                        </div>
                                    </div>
                                </div>
								<div class="bloglist item">
                                    <div class="post-content">
                                        <div class="post-image">
                                            <img alt="" src="//img.youtube.com/vi/5008J_NsTEc/0.jpg">
                                            <div class="post-info">
                                            </div>
                                        </div>
                                        <div class="post-text">
                                            <h3><a href="https://www.youtube.com/watch?v=5008J_NsTEc&ab_channel=K12Datacenter" target="_blank">Что такое ЦОД? Из чего состоит дата-центр К12 </a></h3>
                                            <p>Что такое такое ЦОД? Из чего состоит дата-центр  К12? Рассказываем просто и понятно в этом видео. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="bloglist item">
                                    <div class="post-content">
                                        <div class="post-image">
                                            <img alt="" src="//img.youtube.com/vi/_YNfoYQrAMo/0.jpg">
                                            <div class="post-info"></div>
                                        </div>
                                        <div class="post-text">
                                            <h3><a href="https://www.youtube.com/watch?v=_YNfoYQrAMo&ab_channel=K12Datacenter" target="_blank">Дата-центр К12 в ОКБ Радуга — история здания. Создание ЦОД в Санкт-Петербурге</a></h3>
                                            <p>Как создавался дата-центр К12? В чем особенность здания "Радуга" на Кантемировской 12? Рассказываем в этом видео.</p>
                                        </div>
                                    </div>
                                </div>
                                 <div class="bloglist item">
                                    <div class="post-content">
                                        <div class="post-image">
                                            <img alt="" src="//img.youtube.com/vi/prqnHZigNk0/0.jpg">
                                            <div class="post-info"></div>
                                        </div>
                                        <div class="post-text">
                                            <h3><a href="https://www.youtube.com/watch?v=prqnHZigNk0&ab_channel=K12Datacenter" target="_blank">Виды ЦОДов: требования и возможности</a></h3>
                                            <p> Какие бывают центры обработки данных и требования, выдвигаемые к ним? В этом видео поговорим о том, что необходимо знать о ЦОДах.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
{% endblock %}
{% block script %}
<script>
// Отправка данных на сервер
function send(event, php){
console.log("Отправка запроса");
event.preventDefault ? event.preventDefault() : event.returnValue = false;
var req = new XMLHttpRequest();
req.open('POST', php, true);
req.onload = function() {
	if (req.status >= 200 && req.status < 400) {
	json = JSON.parse(this.response); // internet explorer 11
    	console.log(json);

    	// ЗДЕСЬ УКАЗЫВАЕМ ДЕЙСТВИЯ В СЛУЧАЕ УСПЕХА ИЛИ НЕУДАЧИ
    	if (json.result == "success") {
    		// Если сообщение отправлено
    		alert("Сообщение отправлено");
    	} else {
    		// Если произошла ошибка
    		alert("Ошибка. Сообщение не отправлено");
    	}
    // Если не удалось связаться с php файлом
    } else {alert("Ошибка сервера. Номер: "+req.status);}};

// Если не удалось отправить запрос. Стоит блок на хостинге
req.onerror = function() {alert("Ошибка отправки запроса");};
req.send(new FormData(event.target));
}
</script>
<script>
    jQuery(document).ready(function() {
        // revolution slider
        jQuery("#revolution-slider").revolution({
            sliderType: "standard",
            sliderLayout: "fullscreen",
            delay: 5000,
            navigation: {
                arrows: {
                    enable: true
                }
            },
            parallax: {
                type: "mouse",
                origo: "slidercenter",
                speed: 2000,
                levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50],
            },
            spinner: "off",
            gridwidth: 1140,
            gridheight: 600,
            disableProgressBar: "on"
        });
    });
</script>
    <script>
        $('.owl-carousel').owlCarousel({
            items:1,
            merge:true,
            loop:true,
            margin:10,
            video:true,
            lazyLoad:true,
            center:true,
            responsive:{
                480:{
                    items:2
                },
                600:{
                    items:4
                }
            }
        })
    </script>
{% endblock %}