{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Предоставление удаленного обслуживания Дата-центр К12</title>{% endblock %}
{% block description %}<meta content="Предоставление удаленного обслуживания Дата-центр К12" name="description">{% endblock %}
{% block content %}
    <div id="wrapper">
        <div id="content" class="no-top no-bottom">
            <section class="no-top no-bottom text-light" data-bgimage="url(static/images/background/12.jpg)" data-stellar-background-ratio=".2">
                <div class="overlay-gradient t80">
                    <div class="center-y mt50">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-8 text-center-sm">
                                    <h1>Оперативное обслуживание<span class="label"></span></h1>
                                    <p class="lead">Наши специалисты готовы решить 99% клиентских задач удаленно. Пользуйтесь техническим обслуживанием в дата-центре уровня TIER III.</p>
                                    <div class="spacer-half"></div>
                                    <a class="btn-custom" href="#modal-call" data-toggle="modal"  class="open-order btn main-btn">Узнать подробности</a>
                                </div>
                                <div class="col-4" style="background-size: cover">
                                    <img src="{% static 'images/Customer-Support.png'%}" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="no-bg no-top mt">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 offset-md-3 text-center">
                            </br>
                            <h2>В услугу входит:</h2>
                            <p></p>
                            <div class="spacer-20"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="pricing-s2 mb30">
                                    <div class="top">
                                        <img src="{% static 'images/icon-shared-hosting.png'%}" class="size96" alt="">
                                        <div class="inner">
                                            <div class="clearfix"></div>
                                            <h2>Тикетная система</h2>
                                            <p>Каждой заказанной в К12 услуге присваевается номер, с его помощью всегда можно узнать статус выполнения задачи.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="pricing-s2 rec mb30">
                                    <div class="inner">
                                        <!--<div class="ribbon">PROMO</div>-->
                                        <div class="top">
                                            <img src="{% static 'images/icon-vps-hosting.png'%}" class="size96" alt="">
                                            <div class="clearfix"></div>
                                            <h2>Качественное обслуживание</h2>
                                            <p>Если возникают проблемы с эксплуатацией соединительной линии, инженеры К12 проводят замер и исправляют неисправность</p>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="pricing-s2 mb30">
                                    <div class="inner">
                                        <div class="top">
                                            <img src="{% static 'images/icon-cloud-hosting.png'%}" class="size96" alt="">
                                            <div class="clearfix"></div>
                                            <h2>Тестирование линии по запросу</h2>
                                            <p>Проведем замер соединительной линии по персональному запросу!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="section-features" class="pos-top no-top mt-60 bgcolor-variation" style="background-size: cover;">
                <div class="container" style="background-size: cover;">
                    <div class="col-md-6 offset-md-3 text-center">
                        </br>
                        <h2>Услуги</h2>
                        <p></p>
                        <div class="spacer-20"></div>
                    </div>
                    <div class="row" style="background-size: cover;">
                        <div class="col-lg-6 col-md-12 mb-sm-30 text-center" style="background-size: cover;">
                            <h3>Удаленное обслуживание:</h3>
                            <div class="spacer-20" style="background-size: cover;"></div>
                            <div class="box-highlight" style="background-size: cover;">
                                <div class="content" style="background-size: cover;">
                                    <div class="de_table  text-center" style="background-size: cover;">
                                        <div class="tr" style="background-size: cover;">
                                            <div class="td" style="background-size: cover;">Название</div>
                                        </div>
                                        <div class="tr" style="background-size: cover;">
                                            <div class="td" style="background-size: cover;">Перезагрузка оборудования</div>
                                        </div>
                                        <div class="tr" style="background-size: cover;">
                                            <div class="td" style="background-size: cover;">Замена комплектующих в оборудовании без вскрытия</div>
                                        </div>
                                        <div class="tr" style="background-size: cover;">
                                            <div class="td" style="background-size: cover;">Замена комплектующих в оборудовании со вскрытием</div>
                                        </div>
                                        <div class="tr" style="background-size: cover;">
                                            <div class="td" style="background-size: cover;">Установка и переустановка ОС, без учета стоимости лицензии</div>
                                        </div>
                                        <div class="tr" style="background-size: cover;">
                                            <div class="td" style="background-size: cover;">Перепрошивка и тестирование комплектующих</div>
                                        </div>
                                        <div class="tr" style="background-size: cover;">
                                            <div class="td" style="background-size: cover;">Инсталл оборудования</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 mb-sm-30 text-center" style="background-size: cover;">
                            <h3>Расходные материалы</h3>
                            <div class="spacer-20" style="background-size: cover;"></div>
                            <div class="box-highlight s1" style="background-size: cover;">
                                <div class="content" style="background-size: cover;">
                                    <div class="de_table  text-center" style="background-size: cover;">
                                        <div class="tr" style="background-size: cover;">
                                            <div class="td" style="background-size: cover;">Название</div>
                                            <div class="td" style="background-size: cover;">Цена</div>
                                        </div>
                                        <div class="tr" style="background-size: cover;">
                                            <div class="td" style="background-size: cover;">Крепеж в стойку «винт-гайка-шайба»</div>
                                            <div class="td" style="background-size: cover;">от ₽--</div>
                                        </div>
                                        <div class="tr" style="background-size: cover;">
                                            <div class="td" style="background-size: cover;">Стяжки пластиковые	</div>
                                            <div class="td" style="background-size: cover;">от ₽--</div>
                                        </div>
                                        <div class="tr" style="background-size: cover;">
                                            <div class="td" style="background-size: cover;">Стяжки гибкие, липучка</div>
                                            <div class="td" style="background-size: cover;">₽--</div>
                                        </div>
                                        <div class="tr" style="background-size: cover;">
                                            <div class="td" style="background-size: cover;">Патч-корд UTP любой длины, Cat.5</div>
                                            <div class="td" style="background-size: cover;">₽--</div>
                                        </div>
                                        <div class="tr" style="background-size: cover;">
                                            <div class="td" style="background-size: cover;">Патч-корд оптический до 25 метров, одномод</div>
                                            <div class="td" style="background-size: cover;">₽--</div>
                                        </div>
                                        <div class="tr" style="background-size: cover;">
                                            <div class="td" style="background-size: cover;">Шнур питания С13-С14, 10А
                                            </div>
                                            <div class="td" style="background-size: cover;">₽--</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </br>
                    <p style="text-align: right;">*актуальные цены и подробности по услугам можете получить по запросу у <a href="#">Дата-центра</a></p>
                </div>
            </section>
            {% include 'includes/info/BasicServices.html' %}
            {% include 'includes/info/Question.html' %}
        </div>
    </div>
{% endblock %}