{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}<title>Тестовая страница</title>{% endblock %}
{% block description %}<meta content="Страница для теста" name="description">{% endblock %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="col-3">
        {{ company.admission_lists }}
    </div>
    <div class="col-3">
    </div>
    <br>
    {% for contact in company.contacts.all %}
        {{ contact.username }}
        <br>
        {{ contact.email }}
        <br>
        <br>
    {% endfor %}
    {% thumbnail company.image "125x125" crop="center" upscale=True as im %}
        <img src="{{ im.url }}" alt="Потерялся(">
    {% endthumbnail %}
{% endblock %}